textarea {
    resize: none;
    width: 100%;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;        
}

.colored-div {
    background-color: black;
    background-image: linear-gradient(44deg,#000 56%,#2e2f30);
    min-height: 100vh;
}


.header-text {
    color: white;
    font-size: calc(60% + 3vw + 2vh);
    font-weight: 500;
}

.black-header-text {
    color: black;
    font-size: calc(60% + 3vw + 2vh);
    font-weight: 600;
    
}

.subtext {
    color: grey;
    font-size: calc(60% + 0.9vw + 0.9vh);
    padding-top: 1em;
}

.subheader-subtext {
    color: white;
    font-size: calc(60% + 0.9vw + 0.9vh);
    padding-top: 1em;
    
}

.mission-statement-subtext {
    color: black;
    font-size: calc(50% + 0.7vw + 0.7vh);
    line-height: 1.2em;
}

.secondary-text {
    color: white;
    font-size: calc(50% + 2.5vw + 1.5vh);
}

.shop-button {
    width: 40%;
}

.contact-button {
    width: 100%;
}

.video-placeholder-holder {
    padding-top: 5rem;
}

.video-placeholder {
    background-color: grey;
    border-radius: 40px;
    min-height: 400px;
    height: 160%;
    padding-top: 3em;
}


.warisan-cards {
    background-color: #E8E8E8;
    padding-top: 12em;
    padding-bottom: 10em;
    padding-left: 5em;
    padding-right: 5em;
}

.individual-card {
    background-color: white;
    padding-right: 4em;
    padding-left: 4em;
    padding-bottom: 4em;

}

.card-button {
    border-radius: 0px;
    box-shadow: 0px 0px 2px #000000;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.card-header-text {
    font-weight: 400;
}

.card-description-text {
    line-height: 1.3em;
    font-size: 1.4em;
}

.card-image-holder {
    box-shadow: 0px 0px 5px 0px gray;
    background-color: white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(1em, -4em);
}

.contact-container {
    background-color: #00307d;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 4em;
    padding-right: 4em;
}

.contact {
    padding-left: 5em;
}

.text-input {
    padding: 9px 0;
    color: #FFFFFF;
    background-color: #00307d;
    box-shadow: 0px 2px 0px 0px #FFFFFF;
    font-size: 1.2em;
    
}

.textarea-input {
    padding: 9px 0;
    color: #FFFFFF;
    background-color: #00307d;
    box-shadow: 0px 2px 0px 0px #FFFFFF;
    font-size: 1.2em;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-size: 1.2em;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-size: 1.2em;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    font-size: 1.2em;
}

input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.mission-statement {
    background-color: #fbdf3f;
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 6em;
    padding-bottom: 4em;
}

.div-line {
    width: 100%;
    height: 2px;
    border: 1px solid #000000;
    background-color: #000000;
    transform: translate(-3em, 0.9em);
}

@media (min-width: 768px) {
    .navbar-toggle-visible {
      display: inline;
    }
}

@media (max-width: 768px) {
    .warisan-cards {
        background-color: #E8E8E8;
        padding-top: 20em;
        padding-bottom: 10em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .contact {
        padding-left: 0em;
        padding-top: 5em;
    }

    .contact-container {
        padding-left: 1em;
        padding-right: 1em ;
    }

    .div-line {
        transform: translate(-1em, 0.9em);
    }
}